.typewriter {
  display: inline-block;
}
.typewriter h2 {
  color: #fff;
  overflow: hidden;
  line-height: 60%;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  white-space: nowrap;
  margin: 0;
  animation:
    typing 5s steps(11, end) infinite,
    blink-caret 0.8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  60% {
    width: 110%;
  }
  100% {
    width: 110%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.balloon {
  animation: upAndDown 4s ease-in-out infinite alternate-reverse;
}
.balloon:nth-of-type(even) {
  animation-delay: 0.8s;
}
.balloon:nth-of-type(odd) {
  animation-delay: 0.2s;
}
.balloonMT {
  animation: upAndDownMT 4s ease-in-out infinite alternate-reverse;
}
@keyframes upAndDown {
  0% {
    margin-bottom: -80px;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes upAndDownMT {
  0% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0;
  }
}
