@keyframes scrollLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes scrollRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(-50%);
  }
}

.rolling-list {
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  animation-name: scrollLeft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
